@charset "utf-8";
/* CSS Document */

 /*#region General*/
body,td,th,p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
  color: #333;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #aedaf8;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

 /*#endregion General*/

 /*#region Main */
 #wrapper {
  background-color: #f3f3f3;
  min-height: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 100%;
}


/*#endregion Main */

 /*#region Footer*/
 #footer {
  background-color: #444;
  color: #aaa;
  font-size: 0.55em;
  letter-spacing: 0.05em;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

 /*#endregion Footer*/

 /*#region Logo*/
.logo {
  color: white;  
  text-align: center;
  padding-right: 0.3em;
}

/*#endregion Logo*/

/*#region Navigation*/
nav {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 50px;
    background-color: #485d9b;
    text-align:center;
  }
 
nav a {
  margin: auto;
  overflow: hidden;
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px;
  list-style: none;
  background-color: #eee;
  font-size: 1em;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #485d9b;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: blueviolet;
    text-decoration: underline;
}
/*#endregion Navigation*/

/*#region Map*/
#map {
  height: 60vw;
  max-height: 400px;
  min-height: 160px;
  width: 100%;
}

/*#endregion Map*/


/*#region Restaurant Filtering*/
.filter-options {
  width: 100%;
  height: 50px;
  background-color: #485d9b;
  align-items: center;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #485d9b;
  width: 100%;
}

.filter-label {
  width: 100%;
  align-self: center;
}

.filter-label h2 {
  color: white;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.filter {
  width: 100%;
  margin: 0;
  text-align: center;
}

.filter-options-select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/*#endregion Restaurant Filtering*/


/*#region Restaurant Listing*/

#restaurants-list {
  background-color: #f3f3f3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#restaurants-list li {
  background-color: #fff;
  min-height: 300px;
  margin: 10px;
  padding: 20px;
  width: 250px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 250px;
}

#restaurants-list li h1 {
  color: #f18200;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.neighborhood {
  color: #485d9b;
  font-weight: 200;
  padding-top: 1em;
}

#restaurants-list li button {
  background-color: #f18200;
  color: #fff;
  font-size: 1em;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  margin: auto;
  border: none;
}

.restaurant-address {
  min-height: 60px;
  padding-top: 10px;
}

/*#endregion Restaurant Listing*/

/*#region Restaurant Container*/

.rcontainer {
  display: flex;
  flex-wrap: wrap;
}

.rbox {
  width: 100%;
}

.innerbox {
  padding: 20px;
}

.rest-bg {
  background-color: rgb(241, 236, 236);
}
.hours-bg {
  background-color: rgb(236, 235, 238);
}

.detail {
  display: flex;
  flex-wrap: wrap;
  background-color: #b4c79c;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  max-height: 100%;
  max-width: 100%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  max-width: 100%;
}

#restaurant-container, 
#reviews-container,
#hours-container {
  border: 0px;
  width: 100%;
}

#restaurant-hours {
  margin: 0 auto; 
}

#hours-container h2 {
  color: #485d9b;
  text-align: center;
  margin: 15px 0 20px 0;
  font-weight: 300;
  text-transform: uppercase;
}

#hours-container th {
  text-align: right;
}

/*#endregion Restaurant Container*/


/*#region Review Container*/
#reviews-container {
  padding: 0;
  width: 100%;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 1.75em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid rgb(227, 225, 231);
  display: block;
  list-style-type: none;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 20px 20px 20px;
  width: 90%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

.review-name {
  color: #302f2f;
  display: inline;
  padding-right: 20px;
  font-weight: bold;
}

.review-date {
  color: #666665;
  display: inline;
  padding-right: 20px;
  font-style: italic;
  font-size: smaller;
}

.review-rating {
  color: #f58500;
  float: right;
}

.review-comments {
  padding-top: 10px;
  color: black;
}

/*#endregion Review Container*/

/*#region 550px+*/
@media screen and (min-width : 550px) {
  nav a {
    font-size: 1.6em;
    letter-spacing: 0.5em;
  }

  nav {
    height: 60px;
  }

  #footer {
    font-size: 0.8em;
    letter-spacing: 0.15em;
    padding: 25px;
  }

  .filter {
    width: 40%;
  }
  
  .filter-label {
    width: 20%;
  }

}

/*#endregion 550px+*/

/*#region 750px+*/
@media screen and (min-width : 750px) {
  .rbox {
    width: 50%;
  }
  
  #hours-container {
    font-size: larger;
  }
}

/*#endregion 750px+*/

/*#region 1400px+*/
@media screen and (min-width : 1400px) {
  body{
    max-width: 1400px;
    margin: auto;
    }
}

/*#endregion 1400px+*/